<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Hola Admin: <%- admin %></h1>
    <hr>
	<nav>
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/products/crate">AGREGAR PRODUCTOS PRODUCTOS</a></li>
			<li><a href="/products/edit">EDITAR PRODUCTOS</a></li>
			<li><a href="/products/delete">ELIMINAR</a></li>
		</ul>
	</nav>
</body>
</html>